ul {
    list-style: none;
}

.DangKy {
    position: relative;
    width: 664px;
    height: 609px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-top: 20px;
}

.containerDK {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: none;
}

.DangKy img {
    width: 100% !important;
    height: unset !important;
    margin: 0 !important;
    margin-left: 40px !important;
}

.DangKy h3 {
    width: 80%;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    color: #00703C;
    margin-left: 12%;
}

.DangKy .w66 button {
    color: #00703C;
    border: none;
    background-color: white;
    margin-top: -40%;
    margin-left: -4%;
    font-weight: bold;
    font-size: 32px;
}

.DangKy .inform span {
    color: #00703C;
    font-size: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 8%;
    position: absolute;
    width: 194px;
    height: 100px;
    left: 34px;
    top: 190px;
    margin-left: 2%;
    margin-top: 5%;
}

.DangKy li input {
    background: rgba(0, 112, 60, 0.1);
    border-radius: 25px;
    border: none;
}

.DangKy li:first-child input {
    position: absolute;
    width: 563px;
    height: 48px;
    left: 40px;
    top: 266px;
}

.DangKy li:nth-child(2) input {
    position: absolute;
    width: 563px;
    height: 48px;
    left: 40px;
    top: 328px;
}

.DangKy li:nth-child(3) input {
    position: absolute;
    width: 563px;
    height: 48px;
    left: 40px;
    top: 390px;
}

.DangKy li:nth-child(4) input {
    position: absolute;
    width: 563px;
    height: 48px;
    left: 40px;
    top: 452px;
}

.DangKy input::placeholder {
    color: #00703C;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.DangKy .submit .btn-green {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 397px;
    top: 530px;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.DangKy .submit .btn-green:hover {
    color: #ffcc15;
}